* {
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

html {
    overflow: auto;
    padding: 0;
    margin: 0;
    height: 100%;
}

html::-webkit-scrollbar {
    scrollbar-width: none;
}

body {
    background: url("Imgs/cabaña.png") no-repeat center;
    background-size: 100vw 50rem;
    background-position: top;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 25rem;
    margin: 0;
    padding: 0;
}

html, body{
    max-width: 100%;
    overflow-x: hidden;
}


.container {
    max-width: 100%;
    width: 100rem;
    height: 100%;
    background: url('imgs/todoVerde.png') repeat center;
    background-size: 100vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    row-gap: 100px;
}

.info {
    width: 70vw;
    height: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 8vw;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(80px);

    /*filter: drop-shadow(10px 10px 10px black);
    padding: 20px;*/

    border-radius: 20px;
}

.info img {
    width: 25vw;
    height: auto;
    border-radius: var(--border);
}

.info:hover {
    animation: zoomIn 0.5s forwards;
}

@keyframes zoomIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}


.info .txt {
    width: 20rem;
    height: 20rem;
    display: flex;
    flex-direction: column;
    align-items: center;

    text-overflow: ellipsis;

    .title {
        text-align: justify;
        font-size: 1.5rem;
        font-family: Georgia, 'Times New Roman', Times, serif;
    }
}


.info .content {
    text-align: center;
    cursor: default;
}


footer {
    height: 200px;
    width: 250vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

footer span,
footer span {
    width: 150px;
    text-align: center;
    color: rgb(15, 40, 15);
}

.ig {
    visibility: hidden;
    position: relative;
    display: inline-block;
    cursor: pointer;
    width: 0px;
}


footer span:hover {
    cursor: pointer;

    .ig {
        position: relative;
        top: -20px;
        visibility: visible;
        right: var(--porcent);
    }
}

.buttons {
    width: 100px;
    display: flex;
    flex-direction: row;
    column-gap: 20px;

    button {
        width: fit-content;
        border-color: transparent;
        border-radius: 4px;

        &:hover {
            cursor: pointer;
        }
    }

}

@media (max-width: 768px){
    .info{
        flex-direction: column;
        align-items: flex-start center;
        height: auto;
        width: auto;
        row-gap: 5px;
        padding: 15px;

        img{
            width: 15rem;
            border-radius: 15px;
        }
    }

    footer{
        flex-direction: column;
        width: 100vw;

        row-gap: 10px;
    }


}
